DerivedData/
build/
*.xcscmblueprint
*.xccheckout
**/*.moved-aside
*.playground/**/timeline.xctimeline
*.playground/**/playground.xcworkspace
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
.build/
Packages/
Package.resolved
Pods/
Carthage/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
.DS_Store
